[defaults]
ansible_managed = Ansible Managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
vault_password_file = .vault_password
private_key_file = <%= ENV['HOME'] %>/.ssh/<%= config[:name] %>_ansible_deploy
<% if options[:disable_host_key_checking] %>host_key_checking = False <% end %>
<% if options[:remote_user] %>remote_user = <%= options[:remote_user] %><% end %>
<% if options[:inventory] %>inventory = <%= options[:inventory] %><% end %>
